<footer>
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://wa.me/+237692827579" target="_blank" aria-label="WhatsApp">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>
      <a href="https://www.facebook.com/Martial Ng" target="_blank" aria-label="Facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="#" target="_blank" aria-label="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </div>

    <div class="footer-links">
      <span class="copyright">Copyright © {{ currentYear }}</span>
      <a href="#" class="privacy-policy">politique de confidentialité</a>
    </div>
  </div>
</footer>